%h1 Application Forms

%table.table
  %thead.thead-dark
    %tr
      %th Name
      %th Email
      %th Company
      %th Message

  %tbody
    - @application_forms.each do |application_form|
      %tr
        %td= application_form.name
        %td= application_form.email
        %td= application_form.company
        %td= application_form.message

%br

= link_to 'New Application form', new_application_form_path
