%h1 Application Forms
= form_tag application_forms_url, method: :get do
  = select_tag :member_email, options_from_collection_for_select(Member.all, "id", "email"), { include_blank: true }
  = label_tag(:email, "Search Email")
  = text_field_tag :email, params[:email]
  = label_tag(:date, "Search Date")
  = text_field_tag :date, params[:date]
  = submit_tag("Search", name: nil, class: "btn btn-primary")


%table.table
  %thead.thead-dark
    %tr
      %th Name
      %th Email
      %th Company
      %th Date

  %tbody
    - @application_forms.each do |application_form|
      %tr
        %td= application_form.name
        %td= application_form.email
        %td= application_form.company
        %td= application_form.created_at.strftime("%d/%m/%Y")

%br
